* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 100vh;
  overflow: hidden;
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
}

.container {
  margin: 1 auto 0 auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1), -5px -5px 10px rgba(0, 0, 0, 0.1);
  height: fit-content;
  width: 20rem;
  border-radius: 6px;
  justify-items: center;
  text-align: center;
  padding-bottom: 1rem;
}
h5 {
  font-weight: 400;
}

input {
  height: 2rem;
  border-radius: 6px;
  border: none;
  margin-top: 1rem;
  padding-left: 1.2rem;
  box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.1);
}
input + input {
  margin-top: 1rem;
}

button {
  height: 2rem;
  width: 6rem;
  border-radius: 6px;
  border: none;
  margin-top: 1rem;
  background-color: #888; /* Green */
  color: white;
}

button:hover {
  filter: brightness(0.8);
  scale: 1.05;
}

button:active {
  filter: brightness(0.6);
  scale: 1;
}

p {
  color: #1c1b1bee;
  color: #888;
  font-weight: 300;
  display: block;
}
