* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Product Sans Bold";
  src: url("product_sans_bold.ttf");
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: #eeeeee;
  background-color: rgb(32, 32, 37);
}
.navbar {
  height: 4rem;
  width: 100%;
  gap: 2rem;
}
.nav-items {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 1rem;
  margin-top: 1rem;
}
#profile-image {
  height: 1rem;
  width: 1rem;
}

.fa-solid {
  font-size: 18px;
}

.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.search-bar {
  height: 3rem;
  width: 35rem;
  display: flex;
  border-radius: 2rem;
  margin: auto;
  margin-top: 2rem;
  background-color: rgb(136, 140, 141);
  opacity: 0.3;
}

.search-bar .fa-solid {
  margin: 1rem;
  color: #ffffff;
}

.icons-left,
.icons-right {
  width: 50%;
  display: flex;
}

.icons-left {
  justify-content: start;
}
.icons-right {
  justify-content: end;
}

h2 {
  font-size: 500%;
  margin: auto;
  font-weight: 600;
  font-family: "Product Sans";
}

.lang-color {
  color: rgb(57, 123, 223);
}

footer {
  background-color: rgb(18, 18, 19);
  display: flex;
  flex-direction: column;
  height: 6rem;
}

.location {
  margin: 1rem;
}

.buttons {
  display: flex;
  margin-top: 2rem;
}

.container button {
  width: 7rem;
  height: 2rem;
  margin: 1rem;
  color: #eeeeee;
  background-color: rgb(59, 57, 57);
  border-style: none;
  border-radius: 0.25rem;
}

.bottom-nav {
  display: flex;
  flex-direction: row;
}

.bottom-nav-left,
.bottom-nav-right {
  display: flex;
  gap: 2rem;
  margin: 1rem 1rem 0 1rem;
  width: 50%;
}

.bottom-nav-right {
  justify-content: end;
}
.bottom-nav-left {
  justify-content: start;
}

p:hover {
  text-decoration: underline;
  cursor: pointer;
}
.line {
  width: 100%;
  height: 0.05rem;
  background-color: #a19d9d;
  opacity: 0.5;
}
